@{
    ViewBag.Title = "Articles";
}

<!DOCTYPE html>
<html>
<head>
    <title>
        articles
    </title>
</head>
<body>
    <h3>Статьи</h3>
    <br>
    <br />

    <table>
 
        <tbody>
            Скоро здесь появятся статьи
        </tbody>
    </table>
</body>
</html>



