@if (ViewBag.wrongpas == "Неверный пароль" || ViewBag.wrongpas == "Введите пароль администратора")
{
    <br>
    <p><font color="red">@ViewBag.wrongpas</font></p>
}
else
{
    <br>
    <a href="/Admin/IndexAdm" itemprop="url"> Перейти к редактированию категорий</a>
    <br>
    <a href="/AdminEq/IndexAdmEq" itemprop="url"> Перейти к редактированию оборудования</a>
}